{% extends "account/base_manage.html" %}
{% load allauth %}
{% block head_title %}Đăng xuất{% endblock head_title %}
{% block entrance %}
    {% element h1 %}
        Đăng xuất
    {% endelement %}
    {% element p %}
        Bạn có chắc chắn muốn đăng xuất không?
    {% endelement %}
    {% url 'account_logout' as action_url %}
    <form method="post" action="{{ action_url }}" style="display:flex; gap:10px;">
        {% csrf_token %}
        {{ redirect_field }}
        <button type="submit" class="btn" style="flex:1;">Có</button>
        <a class="btn btn-secondary" href="{% url 'home' %}" style="flex:1; text-align:center; text-decoration:none;">Không</a>
    </form>
{% endblock entrance %}
