{% extends "account/base_entrance.html" %}
{% load allauth account %}
{% block head_title %}Khôi phục mật khẩu{% endblock head_title %}
{% block entrance %}
    {% element h1 %}
        Khôi phục mật khẩu
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        Chúng tôi đã gửi cho bạn một email. Nếu chưa nhận được, hãy kiểm tra thư mục Spam/Quảng cáo.
        Nếu sau vài phút vẫn chưa nhận được, vui lòng liên hệ Giáo vụ Khoa.
    {% endelement %}
{% endblock entrance %}
