{% extends "base.html" %}
{% block title %}Đăng bài trong nhóm{% endblock %}
{% block extra_head %}{{ form.media }}{% endblock %}
{% block content %}
<div class="card">
    <h1>{% if object %}Sửa bài viết{% else %}Đăng bài{% endif %} trong nhóm "{{ group.name }}"</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">{% if object %}Lưu{% else %}Đăng{% endif %}</button>
    </form>
</div>
{% endblock %}
